/*MAP*/

$azules:(color:#4F6D7A,espaciado:20px);

.seccionAzul {
    background-color: map-get($azules,color);
    padding: map-get($azules,espaciado);
    grid-area: azul;
  }

/*EXTEND*/

.contenedorVideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.footerLogo {
    @extend .contenedorVideo;
  }

.categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.botonMas {
    margin-top: 35px;
    font-size: 25px;
    @extend .categorias;
  
    a {
      color: white;
      border: 1px solid #E3B505;
      padding: 20px;
      background-color: #56A3A6;
      border-radius: 4px;
    }
  }

/*MIXIN*/

@mixin tamanos {
    height: 400px;
    width: 400px;
}

.producImg {
    @include tamanos;
  }