@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&family=Roboto:wght@100&display=swap');
@import "variables";
@import "sass2";

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-family: $fuentes;
  }
  
  p {
    font-family: $fuentes;
    font-size: 20px;
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
  }
  
  .navBarraMenu {
    background-image: linear-gradient(to left, #084C61, #4F6D7A);
    grid-area: header;
  }
  
  .bg-light {
    background-image: linear-gradient(to left, #084C61, #4F6D7A);
  }
  
  .navbar-nav a {
    color: white;
    font-family: $fuentes;
  }
  
  .botonera {
    margin-left: 25px;
    ul {
      li {
        display: inline-block;
        margin-right: 25px;
        text-transform: uppercase;
        font-family: $fuentes;
      }
    }
  }
  
  .navBarraMenu img {
    padding: 10px;
  }
  
  .logo {
    width: 200px;
  }
  
  .logoCarrito {
    width: 30px;
  }
  
  .listCarrito {
    display: inline-block;
    margin-right: 30px;
  }
  
  .slider {
    padding: 20px;
    grid-area: imagenCentral;
  }
  
  .imagenSlider {
    width: 100%;
  }
  
  .info {
    background-color: #56A3A6;
  
    h1 {
      padding: 20px;
      color: #E3B505;
    }
  
    p {
      padding: 40px;
    }
  }
  
  .homeMarvel, .homeDC {
    display: inline-block;
    margin-top: 30px;
    width: 200px;
    height: 200px;
  }

  /* SECCIONES CONTENIDO AZUL OSCURO */
  
  .seccionAzulHijo {
    margin-top: 30px;
  
    h1 {
      color: #E3B505;
    }
  
    p {
      padding: 20px;
    }
  } 
  
  .video {
    padding: 20px;
  }

  .cuadros {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    grid-area: cuadros;
  
    div {
      padding: 30px;
      text-align: center;
      margin-top: 10px;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    a {
      color: white;
      border: 1px solid #E3B505;
      background-color: #56A3A6;
      padding: 10px;
    }
  }

  /* SECCION PRODUCTOS */

  .arribaProd {
    background-color: #56A3A6;
    padding: 20px;
    grid-area: arriba;
  
    h1 {
      color: #E3B505;
    }
  
    p {
      padding: 20px;
    }
  }

  /* PSEUDOCLASES Y PSEUDOELEMENTOS */

.botonMas {
    &:hover {
      transform: translateY(-4px);
      transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
    }
  
    &:active {
      transform: translateY(4px);
    }
  }

  .botonComprar, .boton {
    &:hover {
      transform: translateY(-4px);
      transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
    }
  
    &:active {
      transform: translateY(4px);
    }
  }
  
  .campo:focus {
    background-color: #4F6D7A;
  }

  /* FORMULARIO CONTACTO */

  .secForm {
    grid-area: contenedor;
  }
  
  .contenedor {
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
  
    h2 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  
  .campo {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
  }
  
  .boton {
    color: white;
    background-color: #56A3A6;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* PARTE DE REDES Y FOOTER */
  
  .siguenos {
    img {
      margin-top: 60px;
      width: 80px;
      padding: 40px;
    }
  }
  
  .footer {
    background-image: linear-gradient(to bottom, #084C61, #4F6D7A);
    grid-area: footer;
    img {
      padding: 20px;
      width: 200px;
    }
  }
    
  .lineaDiv {
    border-top: #E3B505 3px solid;
    padding: 10px;
  }

  #redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    grid-area: redes;
    h2 {
      text-align: center;
      margin-top: 150px;
    }
  }

  /* MEDIA QUERIES */

@media (min-width: 991px) {
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1023px) {
    .siguenos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 599px) {
    .info h2 {
      padding: 20px;
      color: #E3B505;
      text-align: center;
    }
  
    .seccionAzulHijo h2, .arribaProd h2 {
      color: #E3B505;
      text-align: center;
    }
  
    .categorias {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  
    .lineaDiv {
      text-align: center;
    }
  
    .siguenos {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }